<?xml version='1.0' encoding='UTF-8'?>
<maven2-module-set>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <reporters/>
  <displayName>ScalaProject1</displayName>
  <version>0.0.1-SNAPSHOT</version>
  <relativePath></relativePath>
  <dependencies>
    <dependency>
      <groupId>org.tomfolga</groupId>
      <artifactId>ScalaProject12</artifactId>
      <version>1.1.1</version>
    </dependency>
    <dependency>
      <groupId>commons-logging</groupId>
      <artifactId>commons-logging</artifactId>
      <version>1.1.1</version>
    </dependency>
    <dependency>
      <groupId>org.tomfolga</groupId>
      <artifactId>ScalaProject2</artifactId>
      <version>1.1.2</version>
    </dependency>
    <dependency>
      <groupId>org.tomfolga</groupId>
      <artifactId>ScalaProject3</artifactId>
      <version>1.4.1</version>
    </dependency>
    <dependency>
      <groupId>org.tomfolga</groupId>
      <artifactId>ScalaProject7</artifactId>
      <version>1.12.1</version>
    </dependency>
    <dependency>
      <groupId>org.tomfolga</groupId>
      <artifactId>ScalaProject4</artifactId>
      <version>1.1.331</version>
    </dependency>
  </dependencies>
  <children/>
</maven2-module-set>